<li class="row">
  <div class="col-sm-3">
    <%= image_from_amazon(book.isbn10) %>
    <p class="text-center rating rating-<%= book.rating_descr %>"><strong><%= book.rating %></strong>/5</p>
  </div>

  <div class="col-sm-9">
    <h3><%= link_to book.title, book %></h3>
    <p class="text-muted"><em>Written by <%= book.author %></em>
    <div>
      <p>
        <%= book.description %>
      </p>
    </div>
    <span>
      <% book.genres.each do |genre| %>
        <%= link_to genre.name, '#', class: 'label label-primary' %>
      <% end %>
    </span>
    <div class="actions">
      <%= link_to 'delete', 
        book, data: {confirm:"Sure you want to delete this book?"}, method: :delete %> | 
      <%= link_to 'edit', edit_book_path(book) %>
    </div>
  </div>
</li>
